extends baseReport

block content   

  .page__content.reportChildrenByGrade
    section.page__content-row
      include ../_yearSelector
    section.report__title.page__content-row
      h1 Class Lists
      
        each [hour, locations] of classMap 
          .fun(style='break-inside:avoid')
          each [location, cl] of locations
            .fun(style='break-inside:avoid; background-color:white;')
              if cl.enrollments.length>0
                  h1=`${hour}-------${location}`
                  h2=`${cl.className}      ${cl.teacher}`
                    .report__list(style='break-inside:avoid')
                      for e in cl.enrollments
                        h3=e     
                
        