extends baseReport

block content   
  main
    .container
      -var formatter = new Intl.NumberFormat('en-US', {minimumIntegerDigits: 1,minimumFractionDigits: 2});
      section.page__content-row
        include ../_yearSelector
      section.report-invoices

        .report__title
          h1.invoices-title(id=parent) +JMJ+ Homeschool Co-op Invoice

        for family in families

          .report-invoices-box
            .report-invoices-family
              h2(style="color:red;text-align:center") Please make checks to individual intructors 
              h2= family.parent

            for teacher in family.teachers
              .report-invoices-teacher
                p= teacher.name+ "  - $" + formatter.format(teacher.total)
              .report-invoices-classes
                for cl in teacher.classes
                  .report-invoices-record
                    .report-invoices-record-student(style='flex:1')
                      p=cl.student
                    .report-invoices-record-class(style='flex:4')
                      p=cl.class
                    .report-invoices-record-price(style='flex:2')
                      p="Classes: $" + formatter.format(cl.price)
                    .report-invoices-record-materials(style='flex:2')
                      p="Materials: $" + formatter.format(cl.materials) + " " 
            .report-invoices-teacher   
            h2= "Grand Total:  $" + formatter.format(family.grandTotal) 