extends ../base

block content   

  .page__content
    div
      section
        h1.users__title REGISTRATIONS
        include ../_yearSelector
     
      table.registrations
        tr
          th Last Name
          th First Name
          th Registered
        for registration in registrations  
          tr(id= registration._id)
            td= registration.lastName
            td= registration.firstName 
            -var registeredYears = [...registration.yearRoles.keys()].filter((key) => { return registration.yearRoles.get(key) !== null; })
            td(data-years= registeredYears)= registeredYears.includes(selectedYear)? "X":" "
            td.button              
              a.edit(href=`/registration_profile/${selectedYear}/${registration._id}`) &#9998
    