extends ../base

block content   

  .page__content.family
    div
      section
        h1.users__title REGISTRATIONS
        include ../_yearSelector
     
      table.registrations
        tr
          th Last Name
          th First Name
          th Registration
        for registration in registrations  
          tr(id= registration._id)
            td= registration.lastName
            td= registration.firstName 
            td(data-years= registration.registrationYears)= registration.registrationYears.includes(selectedYear)? "X":" "
            td.button              
              a.edit(href=`/registration_profile/${selectedYear}/${registration._id}`) &#9998
              //a.edit(href='#') &#9998
    