extends ../base

block content   
    .page__content.courses
        div
            section
                h1.courses__title Courses
                include ../_yearSelector
        
            table.courses
                tr
                    th Course
                    th Grades
                    th Fee
                for course in courses    
                    tr(id=course.id)
                        td= course.name
                        td= `${course.grade.min} - ${course.grade.max}`
                        -var formatter = new Intl.NumberFormat('en-US', {minimumFractionDigits: 2});
                        td= `$${formatter.format(course.classFee)}`
                        td.button
                            a.edit(href=`/course_profile/${course.id}`) &#9998
                        td.button
                            .delete &#10006
                
                tr#new
                    td.button 
                        .new &#10010

            section.course-delete.page__content-row
                .delete-modal__window
                    .delete-modal__content.course-delete__modal
                        p.course-delete__warning &#9888
                        p Are you sure you want to delete
                        p course
                        button#deleteCourse.button-ok OK
                        button#cancelDelete.button-cancel cancel
            
        
            
               
                
                   

                
                            
                   
               
                   
            
