extends ../base

block content   
    .page__content.course-profile
        
        section
            form.form.form__outline-box.course-profile__form(id=course.id) 
                .form__row
                    .form__header-text Course
                    .form__header-background.family-form__header-image
                .form__row    
                .form__outline-box--bottom.form__row
                    .form__item
                        label.form__label(for='course.name') Name *
                        input#courseName.form__input.form__input--inline(type='text', name='course.name', size='30', value= `${course.name}` required='')
                .form__outline-box--bottom
                -var formatter = new Intl.NumberFormat('en-US', {minimumFractionDigits: 2});
                
                    .form__row
                        .form__item
                            label.form__label(for='classFee') Class Fee *  $
                            select#classFee(name='classFee')
                                -var classFees = ['5.00',"7.50","0.00"]
                                -var nonStandardFee = !(classFees.includes(course.classFee))
                                
                                for classFee in classFees
                                    if (classFee==course.classFee)
                                        option(value=classFee selected)=classFee
                                    else
                                        option(value=classFee)=classFee
                                if nonStandardFee 
                                    option(value=course.classFee selected)=formatter.format(course.classFee)
                                   
                    .form__row
                        .form__item.form__label Materials
                        
         
                            label.form__label(for='firstSemesterMaterials') Semester 1*  $
                            input#firstSemesterMaterials.form__input.form__input--inline(type='text', name='firstSemesterMaterials', size='5', pattern='[0-9]{1,2}.[0-9]{2}', value=`${formatter.format(course.firstSemester.materialFee)}`)

                            label.form__label(for='secondSemesterMaterials') Semester 2*  $
                            input#secondSemesterMaterials.form__input.form__input--inline(type='text', name='secondSemesterMaterials', size='5', pattern='[0-9]{1,2}.[0-9]{2}', value=`${formatter.format(course.secondSemester.materialFee)}`)

                .form__outline-box--bottom.form__row
                    .form__column
                        .form__dropdown-group
                            .form__item
                                
                                -var grades = ['Infant','Toddler','PreK3','PreK4','K','1st','2nd','3rd','4th','5th','6th','7th','8th','9th','10th','11th','12th','Adult']
                                label.form__label(for='gradeMin') Grade Min *
                                select#gradeMin(name='gradeMin') 
                                    for grade in grades
                                        if (grade==course.grade.min)
                                            option(value=grade selected)=grade
                                        else     
                                            option(value=grade)=grade 
                            .form__item
                                label.form__label(for='gradeMax') Grade Max *
                                select#gradeMax(name='gradeMax')
                                    for grade in grades 
                                        if (grade==course.grade.max)
                                            option(value=grade selected)=grade
                                        else     
                                            option(value=grade)=grade 
                                    
                    .form__column
                        .form__dropdown-group
                            .form__item
                                -var classSize = ['4','5','6']
                                label.form__label(for='classSizeMin') Class Size Min * 
                                select#classSizeMin(name='classSizeMin')
                                    for size in classSize 
                                        if (course.classSize.min == size)
                                            option(value=size selected)=size
                                        else    
                                            option(value=size)=size
                            .form__item
                                -var classSize = ['12','10','8', '6']
                                label.form__label(for='classSizeMax') Class Size Max * 
                                    select#classSizeMax(name='classSizeMax')
                                        for size in classSize 
                                            if (course.classSize.max == size)
                                                option(value=size selected)=size
                                            else    
                                                option(value=size)=size
                div
                    .form__row
                        .form__item
                            label.form__label(for='description') Description *
                            textarea#description.form__input(name='description', rows='3', cols='70',  required='')=course.description
                    .form__row
                        .form__item
                            label.form__label(for='materials') Required Materials:
                            textarea#materials.form__input(name='materials', rows='2', cols='30')
                        .form__item
                            label.form__label(for='texts') Required texts:
                            textarea#texts.form__input(name='texts', rows='2', cols='30')
                .form__row
                    input.form__button.form__item--center(type='submit')
                    a.form__button.form__cancel(href=`/courses_table`) X
