extends ../base

block content   
    .page__content.course-profile(data-selected-year=selectedYear data-is-new=(course.isNew?'new':'old') data-has-owner=(hasOwner?'true':'false') )
        h1= hasOwner
        h1= ownerId
        section
            form.form.form__outline-box.course-profile__form(id=course.id) 
                .form__row
                    .form__header-text Course
                    .form__header-background.family-form__header-image
                //- .form__row    
                //- .form__outline-box--bottom.form__row
                .form__column.form__item
                    label.form__label(for='courseName') Name *
                    input#courseName.form__input.form__input--inline(type='text', name='courseName', size='30', value= `${course.name}` required='')
                //- .form__outline-box--bottom.form__row
                //- .form__item
                -var ownerId = course.owner
                .form__column.form__dropdown-group
                    .form__item
                        label.form__label(for='owner') Owner * 
                        select#owner(name='owner' data-teacher-id=ownerId)
                            for teacher in teachers 
                                option(selected=(teacher.id==ownerId) value=teacher.id)=`${teacher.lastName}, ${teacher.firstName}`
                                           
                .form__row
                    .form__column.form__outline-box
                        .form__label Years
                        
                            for year in years 
                                .form__column
                                    .form__item
                                        if (course.years.includes(year.year))
                                            input(id=year.id type="checkbox" name='years' value=year.year checked)
                                        else
                                            input(id=year.id type="checkbox" name='years' value=year.year)
                                        
                                        label.form__label(for=year.id)=year.year
   
                            -var formatter = new Intl.NumberFormat('en-US', {minimumFractionDigits: 2});
                
                    .form__column
                        .form__item.form__column.form__outline-box
                            label.form__label(for='classFee') Class Fee *  $
                            select#classFee(name='classFee')
                                -var classFees = ['5.00','7.50','0.00']
                                -var nonStandardFee = !(classFees.includes(formatter.format(course.classFee)))
                                
                                for classFee in classFees
                                    if (classFee==course.classFee)
                                        option( selected)=classFee
                                    else
                                        option()=classFee
                                if nonStandardFee 
                                    option()=formatter.format(course.classFee)
                                   
                        .form__column.form__outline-box
                            .form__label.form__item Materials
                            
                        
                            for materialsFee in course.materialsFee
                                -var semester = materialsFee.semester 
                                -var amount = materialsFee.amount
                                -var matId = `materialsFeeAmount${semester}`

                                .form__item
                                    label.form__label(for=`${matId}`)= `Semester ${semester}*`
                                    input.form__input.form__input--inline(id=`${matId}` type='text', name=`${matId}`, size='5', pattern='[0-9]{1,2}.[0-9]{2}', value=`${formatter.format(amount)}`) 
                       
                .form__outline-box--bottom.form__row
                    .form__column.form__outline-box
                        .form__dropdown-group
                            .form__item
                                -var grades = ['Infant','Toddler','PreK3','PreK4','K','1st','2nd','3rd','4th','5th','6th','7th','8th','9th','10th','11th','12th','Adult']
                                label.form__label(for='gradeMin') Grade Min *
                                select#gradeMin(name='gradeMin') 
                                    for grade in grades
                                        if (grade==course.grade.min)
                                            option( selected)=grade
                                        else     
                                            option()=grade 
                            .form__item
                                label.form__label(for='gradeMax') Grade Max *
                                select#gradeMax(name='gradeMax')
                                    for grade in grades 
                                        if (grade==course.grade.max)
                                            option(selected)=grade
                                        else     
                                            option()=grade 
                                    
                    .form__column
                        .form__dropdown-group.form__outline-box
                            .form__item
                                -var classSize = ['4','5','6']
                                label.form__label(for='classSizeMin') Class Size Min * 
                                select#classSizeMin(name='classSizeMin')
                                    for size in classSize 
                                        if (course.classSize.min == size)
                                            option(selected)=size
                                        else    
                                            option()=size
                            .form__item
                                -var classSize = ['12','10','8', '6']
                                label.form__label(for='classSizeMax') Class Size Max * 
                                    select#classSizeMax(name='classSizeMax')
                                        for size in classSize 
                                            if (course.classSize.max == size)
                                                option(selected)=size
                                            else    
                                                option()=size
                div
                    .form__row
                        .form__item
                            label.form__label(for='description') Description *
                            textarea#description.form__input(name='description', rows='3',  cols='70' required='')=course.description
                    .form__row
                        .form__item
                            label.form__label(for='notes') Notes 
                            input#notes.form__input(name='notes', type='text' size='42' value=course.notes)
                    .form__row
                        .form__item
                            label.form__label(for='materials') Required Materials:
                            textarea#materials.form__input(name='materials', rows='2', cols='30')=course.materials
                        .form__item
                            label.form__label(for='texts') Required texts:
                            textarea#texts.form__input(name='texts', rows='2', cols='30')=course.texts
                .form__row
                    input.form__button.form__item--center(type='submit')
                    if hasOwner
                        a.form__button.form__cancel(href=`/courses_table/${selectedYear}/${course.owner}`) X
                    else
                        a.form__button.form__cancel(href=`/courses_table/${selectedYear}`) X
