nav.side-nav
  .side-nav__section
    h3.side-nav__heading User
    a.side-nav__item(href='/myProfile') My Profile
    a.side-nav__item(href='/updatePassword') Update Password

  - var isAdmin = user.currentRoles.includes('admin' || 'sysadmin')
  - var isParent = user.currentRoles.includes('parent')
  - var isTeacher = user.currentRoles.includes('teacher')
  - var isSysAdmin = user.currentRoles.includes('sysAdmin')
  - var selectedYear = selectedYear?selectedYear:currentYear  
  if isSysAdmin
    .side-nav__section 
      h3.side-nav__heading TESTING----
      // a.side-nav__item(href=`/new_profile`) New Profile
      // a.side-nav__item(href=`/news_table`) New Table
      a.side-nav__item(href=`/new_page`) New Page
     

  //- if isParent
  if isParent
    .side-nav__section
      h3.side-nav__heading Family
      a.side-nav__item(href=`/family/${user.id}/${selectedYear}`) Overview
      a.side-nav__item(href=`/children_table/${user.id}`) Add/Edit Children
      
      if (currentYearDoc.isCoursePreviewOpen)
        a.side-nav__item(href=`/class_grid/${selectedYear}`) Class Grid 
        a.side-nav__item(href=`/reports/courses/${selectedYear}`  target="_blank" rel="noopener noreferrer") Course Descriptions 
      
      if (currentYearDoc.isEnrollmentOpen)  
        //a.side-nav__item(href=`/reports/signUpSheet/${user.id}`  target="_blank" rel="noopener noreferrer") Sign Up Sheet
        a.side-nav__item(href=`/enrollment_profile/${user.id}`) Add/Edit Enrollments 

      if (Date.now()>= currentYearDoc.enrollmentOpenDate) 
        a.side-nav__item(href=`/reports/invoices/${selectedYear}/${user.id}` target="_blank" rel="noopener noreferrer") Invoice
      
  if isTeacher
    .side-nav__section
      h3.side-nav__heading Teacher
      a.side-nav__item(href=`/teacher_profile/${user.id}`) Profile
      a.side-nav__item(href=`/courses_table/${selectedYear}/${user.id}`) Courses
      //- TEMP
      if isAdmin
        a.side-nav__item(href=`/reports/classLists/${selectedYear}/${user.id}` target="_blank" rel="noopener noreferrer") Class List Report
        a.side-nav__item(href=`/reports/payments/${selectedYear}/${user.id}` target="_blank" rel="noopener noreferrer") Payments Report
  if isAdmin  
    .side-nav__section
      h3.side-nav__heading Administration
      a.side-nav__item(href=`/users/${selectedYear}`) Users
      a.side-nav__item(href=`/families/${selectedYear}`) Families
      a.side-nav__item(href=`/enrollments_table/${selectedYear}`) Enrollments
      a.side-nav__item(href=`/courses_table/${selectedYear}`) Courses
      a.side-nav__item(href=`/classes_table/${selectedYear}`) Classes
      a.side-nav__item(href=`/payments_table/${selectedYear}`) Payments
      a.side-nav__item(href=`/registrations_table/${selectedYear}`) Registrations 
      a.side-nav__item(href=`/teachers_table/${selectedYear}`) Teachers
      a.side-nav__item(href=`/years_table`) School Years

  .side-nav__section
    h3.side-nav__heading Reports
    if (isAdmin)
      a.side-nav__item(href=`/reports/childrenByGrade/${selectedYear}` target="_blank" rel="noopener noreferrer") Children by Grade
      a.side-nav__item(href=`/reports/classLists/${selectedYear}` target="_blank" rel="noopener noreferrer") Class Listings
      a.side-nav__item(href=`/reports/classListsWithEnrollmentOrder/${selectedYear}` target="_blank" rel="noopener noreferrer") Class Listings with Enrollment Order
      a.side-nav__item(href=`/reports/invoices/${selectedYear}`  target="_blank" rel="noopener noreferrer") Invoices
      a.side-nav__item(href=`/reports/payments/${selectedYear}`  target="_blank" rel="noopener noreferrer") Payments
      a.side-nav__item(href=`/reports/courses/${selectedYear}`  target="_blank" rel="noopener noreferrer") Scheduled Courses
      a.side-nav__item(href=`/class_grid/${selectedYear}`) Class Grid 