nav.side-nav
  .side-nav__section
    h3.side-nav__heading User
    a.side-nav__item(href='/myProfile') My Profile
    a.side-nav__item(href='/updatePassword') Update Password

  - var isAdmin = user.currentRoles.includes('admin')
  - var isParent = user.currentRoles.includes('parent')
  - var isTeacher = user.currentRoles.includes('teacher')
  
  if isParent
    .side-nav__section
      h3.side-nav__heading Family
      a.side-nav__item(href=selectedYear?`/family/${user.id}/${selectedYear}`:`/family/${user.id}`) Overview
      a.side-nav__item(href=selectedYear?`/children/${user.id}/${selectedYear}`:`/children/${user.id}`) Add/Edit Children
      a.side-nav__item(href=`/enrollment_profile/${user.id}`) Add/Edit Enrollments 
      a.side-nav__item(href=`/reports/invoices/${selectedYear}/${user.id}`) Invoice
  if isTeacher
    .side-nav__section
      h3.side-nav__heading Teacher
      a.side-nav__item(href='#') Profile
      a.side-nav__item(href=`/courses_table/${selectedYear}/${user.id}`) Courses
      a.side-nav__item(href=`/reports/classLists/${selectedYear}/${user.id}`) Class Schedules
  if isAdmin  
    .side-nav__section
      h3.side-nav__heading Administration
      a.side-nav__item(href='/users') Users
      a.side-nav__item(href='/families') Families
      a.side-nav__item(href='/enrollments_table') Enrollments
      a.side-nav__item(href='/courses_table') Courses
      a.side-nav__item(href='/classes_table') Classes
      a.side-nav__item(href='/registrations') Registrations 
      a.side-nav__item(href='/teachers') Teachers
      a.side-nav__item(href='#') Create class schedule
  .side-nav__section
    h3.side-nav__heading Reports
    a.side-nav__item(href='/reports/childrenByGrade') Children by Grade
    a.side-nav__item(href='/reports/classLists') Class Listings
    a.side-nav__item(href='/class_grid') Class Grid 
    a.side-nav__item(href='/class_fees') Class Fees 
    a.side-nav__item(href=`/reports/invoices/${selectedYear}`) Invoices