extends base

block content   
  section.page__content

    h1.courses__title  Courses
    include _yearSelector
    
    .courses
      for course in courses
        .card.card__outline-box
          .card__column
            .card__header-background
            - var isLongName = course.name.length > 20
            - var name = (isLongName? course.name.slice(0,20)+"...":course.name)
            .card__header-text= name
            .card__outline-box--bottom
              .course_card__grades.card__outline-box--bottom
                .card__item Grades: 
                .card__item=course.grade.min
                .card__item=course.grade.max
            .card__outline-box--bottom
              .course_card__semesters
                .card__item Semester 1:
                .card__item= "Sessions: " + course.firstSemester.numSessions
                .card__item= "Materials: $" + course.firstSemester.materialFee
              .course_card__semesters
                .card__item Semester 2:
                .card__item= "Sessions: " + course.secondSemester.numSessions
                .card__item= "Materials: $" + course.secondSemester.materialFee
            .course_card__semesters
              .card__item Fee per session:
              .card__item= "$" + course.classFee
      