extends base

block content   
  section.page__content

    h1.family__title  JMJ Families
    include _yearSelector
    -var isAdmin = user.currentRoles.includes('admin')
    .families
      for family in families
        .card.card__outline-box
          .card__column
            .card__header-background.family-card__header-image
            .card__header-text= family.parent.lastName
           
            .card__column.card__outline-box--bottom
              .card__item= family.parent.firstName + " " + family.parent.lastName
              .card__item= family.parent.email
              .card__item= family.parent.cellPhone
              if isAdmin
                .card__outline-box
                  div 
                    a.card__button(href=`/family/${family.parent._id}/${selectedYear}`) Family Overview
                  //- div
                  //-   a.card__button(href=`/users/${selectedYear}`) Edit User
                  div
                    a.card__button(href=`/payments_table/${selectedYear}/${family.parent._id}`) Edit Payments
                  div
                    a.delete-family.card__button(data-family_id=family._id) Delete this family

           
            
            -var id = family._id
        
          .card__column.family-card__children
            for child in family.children
              .card__item= child.firstName + " - " + child.grade
            if isAdmin  
              a.card__button(href=`/children/${family.parent._id}/${selectedYear}`) Edit Children
              

    