extends ../base

block content   
    .page__content
        div
            section
                include ../_yearSelector
                h1.enrollments__title= `${family.parent.lastName}  Enrollments`
                h1.enrollments__title= `(administrative version)`
                -var options = {weekday: 'long', year:'numeric', month:'long', day:'numeric'}
                

            table.enrollments
                tr
                    th Child
                    th Grade
                    th Course
                    th Dropped? 
                    th Drop Date
                    th Added?
                    th Add Date
                   
                for child in children
                    for enrollment in child.enrollments    
                        tr(id=enrollment.id)
                            td= child.firstName
                            td= child.grade
                            //td= family.yearEnrollmentStatus[selectedYear]
                            td= enrollment.class.course.name
                            td(style='color:red, font-weight:bold')= enrollment.drop.status?"X":''
                            td= enrollment.drop.date?enrollment.drop.date.toISOString().slice(0,10):''
                            td(style='color:red, font-weight:bold')= enrollment.add.status?"X":''
                            td= enrollment.add.date?enrollment.add.date.toISOString().slice(0,10):''
                            
                            
                            td.button
                                a.edit(href=`/enrollment_admin_profile/${enrollment.id}`) &#9998
                
                tr#new
                    td.button
                        .new
                            a(href=`/enrollment_admin_profile/new/${family.id}`) &#10010
                        
                            


            //- section.enrollment-delete.page__content-row
            //-     .delete-modal__window
            //-         .delete-modal__content.enrollment-delete__modal
            //-             p.enrollment-delete__warning &#9888
            //-             p Are you sure you want to unenroll
            //-             p class?
            //-             p (Course will not be deleted)
            //-             button#deleteEnrollment.button-ok OK
            //-             button#cancelDelete.button-cancel cancel
            
        
            
               
                
                   

                
                            
                   
               
                   
            
