extends ../base
  
block content 
  .page__content.enrollment-admin-profile(data-is-new=(enrollment.isNew?'new':'old'))  
                
           
    section
      -var isNew=enrollment.isNew
            
      form.form.form__outline-box.enrollment-admin-profile__form(id=isNew?'new':enrollment.id style='width:max-content;') 
        
        .form__row
          .form__header-text=`Enrollment for ${enrollment.child.firstName} ${family.parent.lastName}`
          .form__header-background.family-form__header-image
        
        .form__row.form__item.form__outline-box--bottom
        
          if isNew
            .form__row.form__dropdown-group
              .form__item
                  label.form__label(for='class') Class * 
                  select#class(name='class')
                      for cl in classes
                          option(selected=(enrollment.class.id==cl.id) value=cl.id)=cl.course.name.padEnd(25,' ') + ' - ' + cl.hour
            
            .form__row.form__dropdown-group
              .form__item
                  label.form__label(for='child') Child * 
                  select#child(name='child')
                      for child in children
                          option(selected=(enrollment.child.id==child.id) value=child.id)=child.firstName
            .form__column    
        
          else 
            .form__item=`${enrollment.class.course.name} - ${enrollment.class.hour}`  

        .form__column.form__item.form__outline-box--bottom
          .form__row
            .form__item
              label.form__label(for='dropStatus') Dropped?
                input#dropStatus.form__input.form__input--inline(type='checkbox', name='dropStatus', checked=enrollment.drop.status)
              
            .form__item    
              label.form__label(for='dropDate') Drop Date
                input#dropDate.form__input.form__input--inline(type='date', name='dropDate',  value= enrollment.drop.date?enrollment.drop.date.toISOString().slice(0,10):"" )

          .form__item
            label.form__label(for='dropReason') Reason
              input#dropReason.form__input.form__input--inline(type='text', name='dropReason', size='30', value= enrollment.drop.reason)    
        
        .form__column.form__item.form__outline-box--bottom
          .form__row
            .form__item
              label.form__label(for='addStatus') Added? 
                input#addStatus.form__input.form__input--inline(type='checkbox', name='addStatus', checked=enrollment.add.status)
              
            .form__item    
              label.form__label(for='addDate') Add Date
                input#addDate.form__input.form__input--inline(type='date', name='addDate',  value= enrollment.add.date?enrollment.add.date.toISOString().slice(0,10):"" )
          
          .form__item
            label.form__label(for='addReason') Reason
              input#addReason.form__input.form__input--inline(type='text', name='addReason', size='30', value= enrollment.add.reason)   
        
        
        .form__row
          input.form__button.form__item--center(type='submit' value=isNew?"Add":"Update")
          a.form__button.form__cancel(href=`/enrollments_admin_family_table/${family.parent.id}`) X



