extends ../base

block content   
    - var isAdmin = user.currentRoles.includes('admin' || 'sysadmin')
    .page__content
        div
            section
                if hasParent
                    h1.payments__title(id= parent._id)= `${parent.firstName}  ${parent.lastName} Payments`
                    if isAdmin
                        h2.payments__title= `Enrollment Status`
                         h2.payments__title(style="color:red;")= family.enrollmentStatus.toUpperCase()
                else    
                    h1.payments__title  Payments
                include ../_yearSelector
        table.payments
                tr
                    th Parent
                    th Teacher
                    th Check Number
                    th Semester
                    th Amount
                for payment in payments  
                    tr(id=payment._id)
                        td= payment.parent.lastName
                        td= payment.teacher.lastName
                        td= payment.checkNumber
                        td= payment.semester
                        -var formatter = new Intl.NumberFormat('en-US', {minimumFractionDigits: 2});
                        td= `$${formatter.format(payment.amount)}`
                        td.button
                            if hasParent
                                a.edit(href=`/payment_profile/${payment._id}/${selectedYear}/${parent._id}`) &#9998
                            else    
                                a.edit(href=`/payment_profile/${payment._id}`) &#9998
                        td.button
                            .delete &#10006
                tr#new
                    td.button
                        .new  
                            //a(href=`/payment_profile/new/${selectedYear}`) &#10010
                            if hasParent
                                a(href=`/payment_profile/new/${selectedYear}/${parent._id}`) &#10010
                            else    
                                a(href=`/payment_profile/new/${selectedYear}`) &#10010
           
        section.payment-delete.page__content-row
            .delete-modal__window
                .delete-modal__content.payment-delete__modal
                    p.payment-delete__warning &#9888
                    p Are you sure you want to delete
                    p payment
                    button#deletePayment.button-ok OK
                    button#cancelDelete.button-cancel cancel                    