extends ../base
block content   
    include ../mixins/radio
    - var isAdmin = user.currentRoles.includes('admin' || 'sysadmin')
    .page__content
        div
            section
                include ../_yearSelector
                if hasParent
                    h1.payments__title(id= parent._id)= `${parent.firstName}  ${parent.lastName} Payments`
                    if isAdmin
                        -var paymentReceived = family.paymentReceived
                            .page__content-row
                                .page__content
                                form(id=family._id).family-payment__form.form__outline-box(style="flex:2")
                                    .form__row
                                        .page__content(style="align-items:center")
                                            h2.payments__title Enrollment Status
                                            +radioColumn('Enrollment Status',['none', 'preliminary', 'final'], family.enrollmentStatus)
                                        .page__content(style="align-items:center")
                                            h2.payments__title Payment Received 
                                            label.form__label(for='paymentReceivedDate') Date
                                                input#paymentReceivedDate.form__input.form__input--inline(type='date' name='paymentReceivedDate' value=paymentReceived.date.toISOString().slice(0,10))
                                            label.form__label(for='paymentReceivedOrder') Order 
                                                input#paymentReceivedOrder.form__input.form__input--inline(style='width:10rem' type='number' name=paymentReceivedOrder value=paymentReceived.order) 
                                        
                                    .form__row
                                        input.form__button.form__item--center(type='submit' value="Save changes")
                                .page__content        
                          

                    else    
                        h1.payments__title  Payments
        table.payments
                tr
                    th Parent
                    th Teacher
                    th Check Number
                    th Semester
                    th Amount
                for payment in payments  
                    tr(id=payment._id)
                        td= payment.parent.lastName
                        td= payment.teacher.lastName
                        td= payment.checkNumber
                        td= payment.semester
                        -var formatter = new Intl.NumberFormat('en-US', {minimumFractionDigits: 2});
                        td= `$${formatter.format(payment.amount)}`
                        td.button
                            if hasParent
                                a.edit(href=`/payment_profile/${payment._id}/${selectedYear}/${parent._id}`) &#9998
                            else    
                                a.edit(href=`/payment_profile/${payment._id}`) &#9998
                        td.button
                            .delete &#10006
                tr#new
                    td.button
                        .new  
                            //a(href=`/payment_profile/new/${selectedYear}`) &#10010
                            if hasParent
                                a(href=`/payment_profile/new/${selectedYear}/${parent._id}`) &#10010
                            else    
                                a(href=`/payment_profile/new/${selectedYear}`) &#10010
           
        section.payment-delete.page__content-row
            .delete-modal__window
                .delete-modal__content.payment-delete__modal
                    p.payment-delete__warning &#9888
                    p Are you sure you want to delete
                    p payment
                    button#deletePayment.button-ok OK
                    button#cancelDelete.button-cancel cancel                    