extends ../base

block content
    h1= hasParent
    .page__content.payment-profile(data-is-new= (payment.isNew?'new':'old') data-selected-year=selectedYear data-has-parent=(hasParent?'true':'false') )
         
        section
            form.form.form__outline-box.payment-profile__form(id=payment._id ) 
                .form__row
                    .form__header-text= `Payment - ${payment.year}`
                    .form__header-background.family-form__header-image
               
                .form__column.form__item
                    
                    label.form__label(for='parent') Parent *
                    
                    select#parent(name='parent')
                        for parent in parents
                            if (payment.isNew)
                                option(value=parent.id)=`${parent.lastName}, ${parent.firstName}`
                            else
                                option(selected=(parent.id==payment.parent.id) value=parent.id)=`${parent.lastName}, ${parent.firstName}`
                
                .form__column.form__dropdown-group
                    .form__item
                        label.form__label(for='teacher') Teacher * 
                        //select#teacher(name='teacher' data-teacher-id=teacher._id)
                        select#teacher(name='teacher')
                            for teacher in teachers
                                option(selected=(teacher.id==payment.teacher.id) value=teacher.id)=`${teacher.lastName}, ${teacher.firstName}`

                .form__column.form__item
                    label.form__label(for='semester') Semester *
                    select#semester(name='semester')
          
                        for semester in ['1','2']
                            if (semester==payment.semester)
                                option(selected)=semester
                            else
                                option()=semester

                .form__column.form__item
                    label.form__label(for='checkNumber') Check Number *
                    input#checkNumber.form__input.form__input--inline(type='text', name='checkNumber', size='6', value= payment.checkNumber )
                            
                -var formatter = new Intl.NumberFormat('en-US', {minimumFractionDigits: 2});
                
                  
                .form__column.form__item
                    label.form__label(for=`amount`)= `Amount *`
                    input#amount.form__input.form__input--inline(type='text', name=`amount`, size='5', pattern='[0-9]{1,4}.[0-9]{2}', value=`${formatter.format(payment.amount)}`) 
            
                .form__row
                    input.form__button.form__item--center(type='submit' value=payment.isNew?"Add":"Update")
                    if (hasParent) 
                        a.form__button.form__cancel(href=`/payments_table/${payment.year}/${payment.parent._id}`) X
                    else    
                        a.form__button.form__cancel(href=`/payments_table/${selectedYear}`) X
                    