mixin table(singularName, array, headers, keys, newUrl, permitted) 
 
    //- singularName = 'child'
    //- array = [child1, child2, child3]
    //- headers = ['First Name', 'Sex', 'Grade']
    //- keys = ['firstName', 'sex', 'grade']

    data
    table(class=pluralize(singularName)) 
        tr
            for h in headers
                th= h
     
            for e in array
                tr(id= e.id)
                    for key in keys
                        td= e[key]
            
                    td.button
                        a.edit(href=`/${singularName}_profile/${e.id}`) &#9998
                    if permitted    
                        td.button
                            .delete &#10006
        if permitted
            tr#new
                td.button 
                    .new 
                        a(href=newUrl) &#10010