extends ../base

block content 
	section.new_page
		h1 PUT Test Code here
				
		select#members(style='flex:1' name='selectAllMembers' multiple size=Math.min(members.length,12))
			for member in members
				option(value=member.id name='member' )=`${member.lastName}, ${member.firstName}`

		div(style='display:flex')
			p#emailReport.form__button(style='margin:2rem' data-user-id=user._id) emailReport signUpSheet
			p#resetPasswords.form__button(style='margin:2rem') Reset Selected Passwords
			p#selectAllMembers.form__button(style='margin:2rem') Select All Members
			p#emailRegistrationVerification.form__button(style='margin:2rem') Send Registration Verification Email
				