extends ../base

block content   
    .page__content
        div
            section
                h1.classes__title  Class Grid
                include ../_yearSelector
                
                
                
                div.grid-container.class-grid(style=gridStyle)
                    for loc in locations
                        h5.class-grid__location(style=`grid-area:${loc.replace(/ /g,'')}`)=loc
                    for hour in hours
                        h5.class-grid__hour(style=`grid-area:time-${hour}`)=hour

                    for cl in classes
                        .div.class-grid__item(style=cl.style)
                            p.class-grid__course=cl.course.name 
                            p
                            p.class-grid__grades=`${cl.course.grade.min}-${cl.course.grade.max} `
                   
                   
                
            
            
               
                
                   

                
                            
                   
               
                   
            
