extends ../base

block content   
    .page__content
        div
            section
                h1.classes__title  Class Grid
                include ../_yearSelector
                
                
                
                -var locDescription = {'Classroom 1': 'Farthest down hall', "Classroom 2": 'Middle', "Classroom 3":'Closest to Entry','Wysznyski Hall': 'Front Section'}
                div.grid-container.class-grid(style=gridStyle)
                    for loc in locations
                        h5.class-grid__location(style=`grid-area:${loc.replace(/ /g,'')}`)=`${loc} ${locDescription[loc]?'(' + locDescription[loc] + ')':''}` 
                        


                    -var displayHours = {'8:00AM' : "8:15-8:45",'9:00AM' : "9:00-10:00",'10:00AM': "10:00-11:00",'11:00AM':"11:00-12:00",'12:00PM':"12:00-12:30","12:30PM" :"12:30-1:30","other":"other"} 

                    for hour in hours
                        h5.class-grid__hour(style=`grid-area:time-${hour.replace(/:/g,"")}`)= displayHours[hour]
              

                    for cl in classes
                        -var isMass = cl.course.name.search("Mass") + 1
                        -var isLunch = cl.course.name.search("Lunch") + 1

                        if isMass
                            -var extraStyle = `grid-column-start:2; grid-column-end:${locations.length + 2}; grid-row-start:2`
                        else if isLunch
                            -var extraStyle = `grid-column-start:2; grid-column-end:${locations.length + 2}; grid-row-start:6`
                        else 
                            -var extraStyle = cl.style
                        .div.class-grid__item(style=extraStyle)
                            p.class-grid__course=cl.course.name 
                            p
                            if isMass
                                h3(style='color:red; font-weight:bold')= `Please make every effort to attend this special Mass offered just for our JMJ co-op family`
                                p.class-grid__grades=`${cl.course.grade.min}-${cl.course.grade.max} `
                            else if isLunch
                                h3(style='color:red; font-weight:bold')= Cafeteria   
                            else 
                                p.class-grid__grades=`${cl.course.grade.min}-${cl.course.grade.max} `
                                - var isAdmin = user.currentRoles.includes('admin' || 'sysadmin')
                                if (Date.now()>= currentYearDoc.enrollmentOpenDate || isAdmin) 
                                    p.class-grid__grades(style=`background-color:` + `${cl.isFull?'pink':'lightgreen'}`)= cl.isFull?'FULL':`${cl.slotsLeft} open`
                              
                    
                                
                   
                   
                
            
            
               
                
                   

                
                            
                   
               
                   
            
