extends ../base

block content   
    .page__content
        div
            section
                h1.classes__title  Classes
                include ../_yearSelector
        
            table.classes
                tr
                    th Course
                    th Instructor
                    th Semester
                    th Time
                    th Location
                    th Grades
                for cl in classes    
                    tr(id=cl.id)
                        td= cl.course.name
                        td= cl.teacher.lastName
                        td= cl.semester
                        td= cl.hour
                        td= cl.location
                        td= `${cl.course.grade.min} - ${cl.course.grade.max}`
                        
                        td.button
                            a.edit(href=`/class_profile/${cl.id}/${selectedYear}`) &#9998
                        td.button
                            .delete &#10006
                
                tr#new
                    td.button
                        .new
                            a(href=`/class_profile/new/${selectedYear}`) &#10010


            section.class-delete.page__content-row
                .delete-modal__window
                    .delete-modal__content.class-delete__modal
                        p.class-delete__warning &#9888
                        p Are you sure you want to unschedule
                        p class?
                        p (Course will not be deleted)
                        button#deleteClass.button-ok OK
                        button#cancelDelete.button-cancel cancel
            
        
            
               
                
                   

                
                            
                   
               
                   
            
