extends ../base

block content   
    .page__content.class-profile(data-selected-year=selectedYear data-is-new=(cl.isNew?'new':'old'))                
        section
            
            form.form.form__outline-box.class-profile__form(id=cl.id style='width:max-content;') 
                .form__row
                    .form__header-text Class
                    .form__header-background.family-form__header-image
               
                
                .form__row.form__dropdown-group
                    .form__item
                        label.form__label(for='course') Course * 
                        select#course(name='course')
                            for course in courses
                                option(selected=(course.id==cl.course.id) value=course.id)=course.name

                .form__row
                    .form__column.form__dropdown-group
                        .form__item
                            label.form__label(for='teacher') Teacher * 
                            select#teacher(name='teacher')
                                for teacher in teachers
                                    option(selected=(teacher.id==cl.teacher._id) value=teacher.id)=`${teacher.lastName}, ${teacher.firstName}`
   
                .form__row
                    .form__column.form__dropdown-group
                        .form__item
                            label.form__label(for='times') Time * 
                            select#time(name='time')
                                for time in Object.entries(times)
                                    //-option(selected=(cl.hour==time) value=time)=time
                                    option(selected= (time[1]==times[cl.time]) value=time[0])=time[1]
                .form__row                    
                    .form__column.form__dropdown-group
                        .form__item
                            label.form__label(for='location') Location * 
                            select#location(name='location')
                                for location in Object.values(locations)
                                    option(selected=(cl.location==location) value=location)=location

                .form__row    
                    .form__column.form__dropdown-group
                        .form__item 
                            label.form__label(for='semesterSessions1') Sessions taught in Semester 1 * 
                            select#semesterSessions1(name='semesterSessions1')
                                for numSessions in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
                                    option(selected=(numSessions==cl.semesterSessions['1']) value=numSessions)=numSessions

                .form__row                                            
                    .form__column.form__dropdown-group
                        .form__item
                            label.form__label(for='semesterSessions2') Sessions taught in Semester 2 * 
                            select#semesterSessions2(name='semesterSessions2')
                                for numSessions in [0,1,2,3,4,5,6,7,8]
                                    option(selected=(numSessions==cl.semesterSessions['2']) value=numSessions)=numSessions

                .form__row
                    input.form__button.form__item--center(type='submit' value=cl.isNew?"Add":"Update")
                    a.form__button.form__cancel(href=`/classes_table/${selectedYear}`) X
