extends ../base

block content   
    .page__content.teacher-profile

        section
            form.form.form__outline-box.teacher-profile__form(id=teacher.teacherId) 
                .form__row
                    .form__header-text= `Teacher Info - ${teacher.lastName}, ${teacher.firstName}`
                    .form__header-background.family-form__header-image
                  
                .form__row.form__dropdown-group.form__item

                    //- label.form__label.form__item--center(for='bio') Bio *
                    textarea#bio.form__input(name='bio', rows='5',  cols='70' required='')= teacher.bio
                    
                .form__row
                    input.form__button.form__item--center(type='submit')
                    a.form__button.form__cancel(href=`/teachers_table/${selectedYear}`) X
